<section class="w-100 h-100 box-30 d-flex flex-column align-items-center justify-content-center">
  <div class="appear-animation h-100 w-100 d-flex flex-column" [ngClass]="{'disappear-animation': clicked}">
    <h1 class="title">Alege informatiile despre victima</h1>
    <form class="d-flex flex-column flex-grow-1">
      <div class="d-flex w-100 align-items-end mb-2">
        <div class="field w-100">
          <input type="text" name="nume" autocomplete="off" required spellcheck="false" [(ngModel)]="nume">
          <label for="nume">
            <span>Nume</span>
            <div class="icon">
              <img src="../../../assets/img/man.png">
            </div>
          </label>
        </div>
      </div>
      <div class="d-flex w-100 align-items-end mb-2">
        <div class="field w-100">
          <input type="number" name="varsta" autocomplete="off" required spellcheck="false" [(ngModel)]="varsta">
          <label for="varsta">
            <span>Varsta</span>
            <div class="icon icon-varsta">
              <img src="../../../assets/img/birthday.png">
            </div>
          </label>
        </div>
      </div>
      <div class="d-flex w-100 align-items-end mb-2">
        <div class="field w-100">
          <textarea name="context" autocomplete="off" required spellcheck="false" [(ngModel)]="context"></textarea>
          <label for="context">
            <span>Context</span>
            <div class="icon icon-warning">
              <img src="../../../assets/img/warning.png">
            </div>
          </label>
        </div>
      </div>
    </form>
    <div class="d-flex justify-content-center actions">
      <button type="button" class="button button-round" (click)="previousPage()">
        <i class="fa fa-arrow-left"></i>
      </button>
      <div class="ml-15 button-holder width-animation" *ngIf="nume && varsta && context">
        <button class="button button-round full appear-animation" type="button" (click)="nextPage()">
          <i class="fa fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</section>
