@import '~assets/scss/variables.scss';

@keyframes play36 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -4320px 0px;
  }
}
.shapeshifter {
  animation-duration: 600ms;
  animation-timing-function: steps(36);
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
}
.shapeshifter.play {
  animation-name: play36;
}

.button-normal{
    display: flex;
    height: 30px;
    border: solid 1px $red;
    border-radius: 50px;
    font-size: 0.8em;
    padding: 0 15px !important;
}

.button-full{
    color: white;
    background-color: $red;
}

