@import '~assets/scss/variables.scss';

@keyframes play36 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -4320px 0px;
  }
}
.shapeshifter {
  animation-duration: 600ms;
  animation-timing-function: steps(36);
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
}
.shapeshifter.play {
  animation-name: play36;
}

.icon{
    height: 30px;
    width: 36px;
    padding-bottom: 10px;
    &.icon-birthday{
        padding-bottom: 16px;
    }
    &.icon-warning{
        padding-bottom: 80px;
    }
}

input,
textarea{
    font-size: 1.3em;
    padding: 3px 7px;
    width: 100%;
    transition: all 200ms ease;
    position: relative;
    z-index: 2;
    background: transparent;
}

input + label,
textarea + label{
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 0;
    border-top: 1px solid #ccc;
    transition: all 200ms ease;
    height: 0;

    & > span{
        position: absolute;
        font-size: 1.2em;
        color: #666;
        top: -34px;
        transition: all 200ms ease;
        z-index: 0;
    }
}

input:focus,
input:valid,
textarea:focus,
textarea:valid{
    padding-top: 15px;
}

input:focus + label,
input:valid + label,
textarea:focus + label,
textarea:valid + label{
    width: 100%;
    border-top: 1px solid $red;

    & > span{
        top: -50px;
        font-size: 0.8em;
        color: #999;
    }
}

input:valid:not(:focus) + label,
textarea:valid:not(:focus) + label{
    border-top: 1px solid rgba(255, 255, 255, 0);
}

textarea{
    width: 100%;
    resize: none;
    // padding-top: 0 !important;
    // margin-top: 15px;
    // top: -13px;
    overflow: hidden;
    box-sizing: border-box;
}

textarea + label{
    & > span{
        top: -95px;
    }
}

textarea:focus + label,
textarea:valid + label{
    >span{
        top: -100px;
    }
}

.varsta{
    margin-bottom: 18px;
}